<% flash.each do |key, msg| %>
  <div class="alert-message success">
  <%= content_tag :div, msg, :id => key %>
  </div>
<% end %>
<% content_for :head do %>
  <title>Twitter App</title>
<% end %>
<% content_for :pagename do %>
  Twitter App
<% end %>
<% if current_user %>
  <%= form_tag "/users/tweet", :method => 'post',:id=>"form_tweet" do %>
    <%= text_area_tag(:message) %>
    <input type=submit id="codecheck" value="tweet" class="btn primary">
    <div id="status" style= "float:right;padding:0px 275px 0px 0px"></div>
  <% end %>

  <%if current_user.authorizations.empty? %>

  <%else%>

    <%auth = Authorization.find_by_user_id(current_user.id)%>
    <%consumer = OAuth::Consumer.new("mshsD0jpgcYwwOEcTW5ZTA", "V6KTqllY5jS392pj4FNFCb5EiOM8DaFzVwr9cS54XQ", { :site => "https://api.twitter.com", :request_token_path => '/oauth/request_token', :access_token_path => '/oauth/access_token', :authorize_path => '/oauth/authorize', :scheme => :header })%>
    <%access_token = OAuth::AccessToken.new(consumer,auth.token,auth.secret)%>
    <% msg = {'count' => 10} %>
    <% response = access_token.get('https://api.twitter.com/1/statuses/home_timeline.json?count=10',{ 'Accept' => 'application/xml' }).body %>
    <%tweets = JSON.parse(response)%>
    <% tweets.each do |tweet| %>
    <h3><%= tweet["user"]["name"]%></h3>
    <h3><%= tweet["text"]%>
    <%end%>
    <%end%>

<%end%>
<script type="text/javascript">
  $(document).ready(function () {
    $("#form_tweet").submit(function(e){
        $("#status").html("<img src='/assets/ajax-loader.gif'/>")
        e.preventDefault()
          $.ajax({
            url: $('#form_tweet').attr('action'),
            complete: function() {
              $("#status").html("")
              alert("Tweet successfully posted")
            },
            dataType: "script",
            type: "post",
            data: $('#form_tweet').serialize()
          })
      })
  })
</script>
